<% include partials/header %>
  <div class="photocontent">
    <div class style="display:flex; flex-wrap: wrap;">
      <div class>
        <% if(files){ %>
          <% files.forEach(function(file) { %>
            <div class="card">
              <% if(file.isImage) { %>
              <div class="thumbnail">
              <img src="image/<%= file.filename %>">
              </div>
              <p>
                <a href="/image-info/<%= file.filename%>" class="info btn btn-primary">More Info</a>
              </p>
              <% } else { %>
                <%= file.filename %>
                  <% } %>
            </div>
            <% }) %>
              <% } else { %>
                <p>No Image is Exists!</p>
                <% } %>
      </div>
    </div>
  </div>
<% include partials/footer %>
